@using WebApiClient.DTOs
@using Newtonsoft.Json;
@model dynamic

@{
    ViewData["Title"] = "Shows";
    IEnumerable<WebApiClient.DTOs.ShowDto> shows = Model.Shows;
    int cinemaId = Model.CinemaId;
    int movieId = Model.MovieId;

    Dictionary<int, string> cinemaNameDictionary = JsonConvert.DeserializeObject<Dictionary<int, string>>(TempData["CinemaNameDictionary"].ToString());
    Dictionary<int, string> titleDictionary = JsonConvert.DeserializeObject<Dictionary<int, string>>(TempData["TitleDictionary"].ToString());
}

<h1 class="text-not-pornhub">Shows in @cinemaNameDictionary[cinemaId] for @titleDictionary[movieId] </h1>
<hr />
<div class="row row-cols-1 row-cols-md-3 g-4">

    @foreach (var item in shows)
    {

        <div class="col-lg-3 col-md-4 col-12">
            <div class="card mb-3 ripple" onclick="location.href='@Url.Action("Select", "Seats" , new { showId=@item.Id, showStartTime = @item.StartTime })'">
                <div class="row g-0">
                    <div class="col-12">
                        <div class="card-body text-center text-not-pornhub">
                            <p class="card-text text-white">
                                <b>@item.StartTime.ToString().Remove(@item.StartTime.ToString().Length-3)</b>
                            </p>
                            <p class="card-text">
                                Language: @item.DubLanguage
                            </p>
                            <p class="card-text">
                                Subtitles: @item.SubtitlesLanguage
                            </p>
                            <p class="card-text">
                                Type: @item.GraphicType.ToString().Substring(1), @item.SoundType
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div>
    <a href="javascript:void(0);" onclick="history.go(-1);:" class="text-not-pornhub">Go Back</a>
</div>
