@using WebApiClient.DTOs
@using Newtonsoft.Json;
@model dynamic

@{
    ViewData["Title"] = "Shows";
    IEnumerable<WebApiClient.DTOs.ShowDto> shows = Model.Shows;
    int cinemaId = Model.CinemaId;
    int movieId = Model.MovieId;

    Dictionary<int, string> cinemaNameDictionary = JsonConvert.DeserializeObject<Dictionary<int, string>>(TempData["CinemaNameDictionary"].ToString());
    Dictionary<int, string> titleDictionary = JsonConvert.DeserializeObject<Dictionary<int, string>>(TempData["TitleDictionary"].ToString());
}

<h1>Shows in @cinemaNameDictionary[cinemaId] for @titleDictionary[movieId] </h1>


<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                Starttime
            </th>
            <th>
                Language
            </th>
            <th>
                Subtitle Language
            </th>
            <th>
                Graphic Type
            </th>
            <th>
                Sound Type
            </th>
        </tr>
    </thead>
    <tbody class="clickable-table">
        @foreach (var item in shows)
        {
            <tr>
                <td>
                    <a asp-controller="Seats" asp-action="Select" method="get" asp-route-showId="@item.Id" >@Html.DisplayFor(modelItem => item.StartTime)</a>
                </td>
                <td>
                   
                    @Html.DisplayFor(modelItem => item.DubLanguage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubtitlesLanguage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GraphicType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoundType)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a href="javascript:void(0);" onclick="history.go(-1);">Back</a>
</div>
