@model dynamic
@{
    ViewData["Title"] = "Confirm";
}

<h1 class="text-not-pornhub">Cart</h1>
<hr />
<div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col-lg-3 col-md-4 col-12">
            <div class="card mb-3 ripple">
                <div class="row g-0">
                    <div class="col-12">
                            <div class="card-body text-not-pornhub">
                                <h5 class="card-title">
                                    @Model.MovieTitle
                                </h5>
                                <p class="card-text">
                                    <b>Date:</b> @Model.Date
                                </p>
                                <p class="card-text">
                                    <b>Tickets:</b> @Model.ResCount
                                </p>
                                <p class="card-text">
                                    <b>TotalPrice:</b> @Model.TotalPrice
                                </p>
                                <span>@ViewBag.ErrorMessage</span>
                                <form method="post">

                                    <div class="form-group">
                                        <input type="submit" name="answer " value="Confirm" class="btn btn-primary" />
                                        <input type="submit" name="answer" value="Decline" class="btn btn-danger" />
                                    </div>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
